<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://unpkg.com/vue@3.0.2"></script>
    <title>Vue</title>
</head>
<body>
    <h1>Heloooooo</h1>
    <div id="app">
        <div v-if="showbooks">
            {{ Title }} {{ Msg }} {{age}}
        </div>
       
        <button @click="ToggleBooks">
            <span v-if="showbooks">Hide Books</span>
            <span v-if="!showbooks">show Books</span>
        </button>
        
        
    <!-- <button v-on:click="age++">increase age</button>
    <button v-on:click="age--">decrease age</button>
    <button @click="changeTitle">change title</button> -->
   
    
    </div>
    <script src="app.js"></script>
</body>
</html>